.cta {
	position: relative;

	.cta__image {
		position: absolute;
        object-fit: cover;
        min-height: 100%;
        max-width: 75%;
        z-index: -1;
	}

	.cta__content-wrapper {
	   display: flex;
        justify-content: flex-end;
        align-items: center;
	}

	.cta__content {
	   font-family: $font-regular;
        padding: $spacing*2;
        margin: 80px 0 80px;
        background: rgba(255,255,255,.8);
        max-width: 100%;
        @media screen and (min-width:1000px) {
        	background: #fff;
    		max-width: 65%;
            padding: 116px 186px 116px 128px;
        }

    h2,h3,p,ul {
        max-width: 640px;
    }

    h2 {
    	font-family: inherit;
    	text-transform: uppercase;
    	font-size: 40px;
    	font-weight: 700;

    	margin-bottom: $spacing*4;	
    }

    h3 {
    	font-family: inherit;
    	text-transform: uppercase;
    	font-size: 1em;
    	font-weight: 700;

    	margin: $spacing*4 0 $spacing*2;
    }

    p {
    	margin: 32px 0;
    	font-size: 20px;
    }

    ul {
  			list-style: none;

			li{
				padding: 16px 0;
				font-size: 20px;

				a {
					color: $purple;
				}

				&::before {
				  content: "\2022";
				  color: $purple;
				  font-weight: 900;
				  display: inline-block;
				  width: 1em;
				  margin-left: -1em;
				}
			}
    }

    .cta__button {
    	position: relative;
    	/* overwrite some foundation css here */
    	font-family: 'Montserrat', 'Helvetica Neue', Helvetica, sans-serif;
    	text-transform: unset;
    	font-weight: 400;
    	font-size: 18px;

    	margin-top: $spacing;

	    display: inline-block;
		padding: 17px 165px 17px 28px;
	 	background-color: $purple;

		 	&:focus,
		 	&:hover {
		 		color: #fff;
		 		background-color: darken($purple, 5);
		 	}
    }

    .cta__button-arrow {
    	position: absolute;
	    top: 7px;
	    right: 3px;
	    width: 60px;
	    height: 48px;
	    transform: rotate(-90deg);
	    padding: 16px 0px 8px 0px;
	    border-top: 2px solid rgba(255, 255, 255, 0.4);
    }
	}
}