<footer class="footer">

	<div class="quote grid-container">
		<img class="quote__icon--footer" src="{{site.theme.link}}/images/logo_purple.svg">
		<blockquote class="quote__content">
			I nära dialog med dig skapar och utvecklar vi ditt företags identitet, attraktionskraft och lönsamhet för att säkerställa maximal affärsnytta.
		</blockquote>
	</div>

	<div class="footer__contact-details grid-container row">
		<div class="footer__contact-box">
			<h4>Besök oss</h4>
			<p>
				Storgatan 39<br>
				831 35 Östersund
			</p>
		</div>
		<div class="footer__contact-box">
			<h4>Kontakta oss</h4>
			<p>
				<a href="tel:0637010812">063 - 701 08 12</a><br>
				<a href="mailto:info@internetmedia.se">info@internetmedia.se</a>
			</p>
		</div>
		<div class="footer__contact-box">
			<h4>Följ oss</h4>
			<div class="footer__social-wrapper">
				<img class="footer__social-icons" src="{{site.theme.link}}/images/fb_icon_purple.svg" alt="Facebook icon">
				<img class="footer__social-icons" src="{{site.theme.link}}/images/instagram_icon_purple.svg" alt="Instagram icon">
			</div>
		</div>
	</div>


</footer>