<header class="header" >
	<div class="grid-container">
		<div class="header__wrapper">
			<div class="header__logo-wrapper">
				<a class="header__linked-logo" href="{{site.url}}">
					<img src="{{ site.theme.link }}/images/logo_negative.svg" src-set="" alt="Internetmedia Logo" />
				</a>
			</div>
			<div class="header__toggle">
				<div class="header__toggle-btn toggle-main-menu">
					<span class="header__burger-slice"></span>
					<span class="header__burger-slice"></span>
					<span class="header__burger-slice"></span>
				</div>
			</div>
		</div>
		<h1 class="visually-hidden" role="banner">{{site.name}}</h1><!-- Hidden -->
		<nav class="header__nav toggle-main-menu" id="nav-main" role="navigation">
			<h5>Fake menews, click anywhere to close</h5>
		</nav>
	</div>
</header>