<div class="quote grid-container">
	<img class="quote__icon" src="{{site.theme.link}}/images/quote_purple.svg">
	<blockquote class="quote__content">
		{{quote.quote}}
	</blockquote>
	<p class="quote__author">
		{{quote.author}}
	</p>
</div>