<div class="nasa-app">
	{# <img src="{{ nasa_image_url|resize(600) }}" alt="Daily image from Nasa"> #}
	<img src="{{ site.theme.link }}/images/nasa.jpg" alt="Daily image from Nasa">
	<h6>(Bild från Nasa API)</h6>
</div>